/* E-Shop page styles */
.eshop {
    padding: 20px;
    text-align: center;
  }
  
  h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .product-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .product-card {
    width: 200px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    padding: 10px;
  }
  
  .product-card:hover {
    transform: translateY(-10px);
    transition: transform 0.3s ease;
  }
  
  .product-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .product-info p {
    font-size: 1.2rem;
    color: #333;
    margin-top: 10px;
    font-weight: bold;
  }